.intro__text {
    max-width: 690px;
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}