.place__website-link {
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 0.2s;
}

.place__website-link:hover {
    opacity: 0.8;
}